{% extends 'layouts/errors.twig' %}

{% block body %}
  {# Copied text from Phusion Passenger error message. #}
  <h1>We're sorry, but something went wrong.</h1>

  <p>The issue has been logged for investigation. Please try again later.</p>
{% endblock %}