{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>Home</h1>

  <p>Veniam do reprehenderit dolore nisi pariatur nulla nisi adipisicing consequat eu ullamco. Non aute minim fugiat quis cupidatat ut voluptate fugiat occaecat enim in ullamco. Exercitation in est veniam qui aliquip cupidatat occaecat quis commodo.</p>
  <p>Quis Lorem nulla aliqua enim eu veniam laborum do non adipisicing laborum proident cupidatat. Reprehenderit aliqua consectetur dolor ea. Dolor minim nisi minim voluptate nostrud veniam ipsum sunt sint ad sint anim. Esse est elit ex officia et. Sunt irure veniam ullamco duis.</p>
{% endblock %}