{% extends 'layouts/default.twig' %}

{% block body %}
  <h1>{{ restaurant.name }}</h1>

  <h3>Raw data</h3>
  <ul>
    {% for key, value in restaurant %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
  <script>
    const data = {{ dataJson }};
  </script>
{% endblock %}